<footer class="footer bg-dark py-3 mt-auto">
  <!-- las ordenes que le estamos dando es que tenga un background dark, un padding de 3 y un margin top auto -->
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2021</span>
  </div>
</footer>
