<% layout('layouts/boilerplate') %>
<h1>Todos las Areas para acampar</h1>
<a href="/campgrounds/new">Agrega Un area</a>
<ol>
  <% for( let campground of campgrounds) {%>
  <li>
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% } %>
</ol>
