<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New</title>
  </head>
  <body>
    <h1>Agregue nuevo lugar</h1>
    <form action="/campground" method="POST">
      <div>
        <label for="title">Titulo</label>
        <input
          type="text"
          id="title"
          placeholder="Cañon del perreo"
          name="campground[title]"
        />
      </div>
      <div>
        <label for="location">Locación</label>
        <input
          type="text"
          id="location"
          placeholder="Tepico El Chico"
          name="campground[location]"
        />
      </div>
      <button>Agregar</button>
    </form>
  </body>
</html>
