<% layout('layouts/boilerplate') %>
<!-- <h1>Campamento a detalle</h1> -->
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<a href="/campgrounds/<%=campground._id%>/edit">Editar este campamento</a>
<br />
<a href="/campgrounds">Todas las areas</a>
